.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, 340px);
	justify-content: center;
	grid-row-gap: 6rem;
	grid-column-gap: 3rem;
	@media (min-width: 990px) {
		grid-template-columns: repeat(auto-fit, 540px);
	}
}
